{% extends 'layout.html' %}
{% block body %}
<table class="table">
    {% if length > 0 %}
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Organization</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in students | dictsort %}
        <tr class="table">
            <td>{{key}}</td>
            <td>{{value}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<h1 class="text-center">No students registered!</h1>
{% endif %}
{% endblock %}